#Week1 

1- Datatype

2- Expression and variable

3- single operations

4- Lists and Tuple

5- Dictionaries

1- DATA TYPE:

In [1]:
x= 24 # int 
y=25.66 # float

print(x,"\nthe type is",type(x))
print(y,"\nthe type is",type(y))

24
the type is <class 'int'>
25.66
the type is <class 'float'>

In [2]:
M ='Mayar Khaled'
print(M,"\nthe type is ",type(M))

Mayar Khaled
the type is  <class 'str'>

In [4]:
A=[1,2,3,4]
Y=["python","HTML","java","Flutter"]
print(A,'\n the type is',type(A))
print(Y,'\n the type is',type(Y))

[1, 2, 3, 4]
 the type is <class 'list'>
['python', 'HTML', 'java', 'Flutter']
 the type is <class 'list'>

In [6]:
A=(1,2,3,4)
R=('Flutter','HTML','visual studio')
print(A,'\n the type is',type(A))
print(R,'\n the type is',type(R))

(1, 2, 3, 4)
 the type is <class 'tuple'>
('Flutter', 'HTML', 'visual studio')
 the type is <class 'tuple'>

In [7]:
M=2
E=1
m=4
e=4
print('is g equal to h: ',M==E)
print('is i equal to j: ',m==e)

is g equal to h:  False
is i equal to j:  True

2- EXPRESSION AND VARIABLE:

In [9]:
#m is the variable
#that assign value to the variable 

m = 3
#the expression is multiplies m with 3 and we add 5 
result=m*2+5
print('example one : ',result)

a=10
y=24
result=a+y*2
print('example two : ',result)

example one :  11
example two :  58

3- SINGLE OPERATIONS:

In [10]:
#Use functions length.
m='Mayar hub'
a=len(m)
y=len('thanks for joing to myyy hub')
print('here length of m and y : ',a,',',y)

here length of m and y :  9 , 28

4- LIST AND TUPLES:

In [13]:
# 1-list 
M=[1,2,3,'Mayar','Khaled',88]
M[2]='meme'
print('Is the list after change : ',M,'\t',type(M))

Is the list after change :  [1, 2, 'meme', 'Mayar', 'Khaled', 88] 	 <class 'list'>

In [14]:
# 2- Tuple
A=(1,2,3,'Mayar','Khaled',88)
print('this is the Tuple:',A,'\t',type(A))

this is the Tuple: (1, 2, 3, 'Mayar', 'Khaled', 88) 	 <class 'tuple'>

4- DICTIONARIES:

In [16]:
dic_example={
    'Mayar':
    {
    'age':24,
    'job':'Information System',
    'city':'Mecca'
    },

    'Fedaa':
     {
    'age':22,
     'job':'IS',
     'city':'Mecca'
     },

    'Lamess':
     {
    'age':23,
     'job':'IS ',
     'city':'Mecca'
     }    
    }

print('example: ',dic_example['Mayar'])

# if you want to change in any data in the dictionaries 
dic_example['Lamess']['age']=31

print('example',dic_example['Lamess'])

example:  {'age': 24, 'job': 'Information System', 'city': 'Mecca'}
example {'age': 31, 'job': 'IS ', 'city': 'Mecca'}